/* 
    Created on : Feb 21, 2016, 10:20:28 AM
    Author     : davidmendez
*/
:link { color: #0000EE; }
:visited { color: #551A8B; }

body {
	margin:0;
	padding:0;
	background-color: white;
}
h1{
    
    font-size: 3em;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}
p{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}
/* Code box */
.black-box{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #ccc;
    
}
   
code{
    color: #252525;
    background:none;
    margin: 0;
    padding: 0;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container-fluid{
        width: 750px;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #wrapper{
        width: 800px;
    }
    .container-fluid{
        width: 800px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #wrapper{
        width: 800px;
    }
    .container-fluid{
        width: 800px;
    }
}
